@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    @apply mb-8;
  }
  header {
    @apply mb-6 flex justify-between items-center;
  }

  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl font-medium;
  }
}

@layer components {
  @keyframes fadein {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .animation-fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
  }

  @keyframes slidein {
    from {
      margin-top: 100%;
    }

    to {
      margin-top: 0%;
    }
  }

  .animation-slidein {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
}

@layer utilities {
  .h2-underline {
    @apply border-b pb-1 w-fit pr-16 my-4;
  }
}
