@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply tracking-wider text-lg font-sans;
  }

  .iconic-l {
    @apply pr-2;
    font-family: "Material Icons Outlined";
  }

  .iconic-r {
    @apply pl-2;
    font-family: "Material Icons Outlined";
  }

  nav {
    @apply mb-28 w-full;
  }
  header {
    @apply mb-10 flex justify-between items-center;
  }

  h1 {
    @apply text-7xl font-serif;
    font-weight: 700;
  }

  h2 {
    @apply text-5xl font-medium font-serif;
    font-weight: 700;
    font-variant-ligatures: none;
  }

  h3 {
    @apply text-3xl font-medium;
  }
}

@layer components {
  .year {
    @apply uppercase text-5xl font-semibold mt-16 mb-8 font-serif relative;
  }

  .month {
    @apply uppercase text-2xl mt-8 mb-2 font-sans;
  }

  @keyframes fadein {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .animation-fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
  }

  @keyframes slidein {
    from {
      margin-top: 100%;
    }

    to {
      margin-top: 0%;
    }
  }

  .animation-slidein {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
}

@layer utilities {
  .h2-underline {
    @apply border-b pb-1 w-fit pr-16 my-4;
  }

  .logo-font {
    @apply tracking-wider font-serif;
    font-weight: 300;
  }
}
